<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>homePage.html</welcome-file>
    <welcome-file>signUpResponse.html</welcome-file>
    <welcome-file>loginPage.html</welcome-file>
    <welcome-file>workingPage.html</welcome-file>
    <welcome-file>newDiet.html</welcome-file>
    <welcome-file>addFruitsItems.html</welcome-file>
    <welcome-file>addVegItems.html</welcome-file>
    <welcome-file>addNonVegItems.html</welcome-file>
    <welcome-file>dietPlanCreated.html</welcome-file>
    <welcome-file>updateVegItems.html</welcome-file>
    <welcome-file>updateNonVegItems.html</welcome-file>
    <welcome-file>updateFruitItems.html</welcome-file>
    <welcome-file>updateDietDetails.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>com.project.servlet.ProjectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DietMenuServlet</servlet-name>
    <servlet-class>com.project.servlet.DietMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewDietServlet</servlet-name>
    <servlet-class>com.project.servlet.NewDietServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFruitItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.AddFruitItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddVegItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.AddVegItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddNonVegItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.AddNonVegItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayDietServlet</servlet-name>
    <servlet-class>com.project.servlet.DisplayDietServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CompleteDietServlet</servlet-name>
    <servlet-class>com.project.servlet.CompleteDietServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateDietDetailsServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateDietDetailsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteDietServlet</servlet-name>
    <servlet-class>com.project.servlet.DeleteDietServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateVegItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateVegItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteVegItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.DeleteVegItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateNonVegItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateNonVegItemsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteNonVegItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.DeleteNonVegItemsServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>UpdateFruitItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.UpdateFruitItemsServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>DeleteFruitItemsServlet</servlet-name>
    <servlet-class>com.project.servlet.DeleteFruitItemsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DietMenuServlet</servlet-name>
    <url-pattern>/dietmenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewDietServlet</servlet-name>
    <url-pattern>/newdiet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFruitItemsServlet</servlet-name>
    <url-pattern>/addFruits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVegItemsServlet</servlet-name>
    <url-pattern>/addVeg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddNonVegItemsServlet</servlet-name>
    <url-pattern>/addNonVeg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayDietServlet</servlet-name>
    <url-pattern>/DisplayDietServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CompleteDietServlet</servlet-name>
    <url-pattern>/CompleteDietServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateDietDetailsServlet</servlet-name>
    <url-pattern>/updateDiet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteDietServlet</servlet-name>
    <url-pattern>/DeleteDietServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateVegItemsServlet</servlet-name>
    <url-pattern>/updateVeg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteVegItemsServlet</servlet-name>
    <url-pattern>/DeleteVegItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateNonVegItemsServlet</servlet-name>
    <url-pattern>/updateNonVeg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteNonVegItemsServlet</servlet-name>
    <url-pattern>/DeleteNonVegItemsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFruitItemsServlet</servlet-name>
    <url-pattern>/updateFruits</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFruitItemsServlet</servlet-name>
    <url-pattern>/DeleteFruitItemsServlet</url-pattern>
  </servlet-mapping>
</web-app>